.tabs
  .tabs_item{class: "#{add_active_class(root_path)}"}
    = link_to I18n.t('articles.new_articles_list'), root_path
  .tabs_item{class: "#{add_active_class(timeline_path)}"}
    = link_to I18n.t('articles.timeline'), timeline_path
