@import 'variables';

.footer-container {
  padding: 8px 16px;
  font-size: 12px;
}

.language {
  display: block;
  background: $primary-color;
  color: white;
  width: 50px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  border: 1px solid $primary-color;
  border-radius: 5px;
  transition: all 0.3s;

  &:hover {
    background: white;
    color: $primary-color;
  }
}
